.main-body {
  display: flex;
  flex-direction: column;
  background-color: #11171d;
}

.body {
  display: flex;
  flex-direction: column; 
}

.inner-body {
  display: flex;
  flex-direction: row;
}

.tweet-body {
  display: flex;
  flex-direction: column;
  width: 566px;
  height: 170px;
  background-color: blue;
  margin-left: 25rem;
  margin-bottom: 0.1rem;
}

.picture {
  width: 48px;
  height: 48px;
}

.name {
  display: flex;
  flex-direction: row;
  height: 17px;
  font-size: 14px;
  color: blue;
}

.handle {
  margin-left: 10px;
  margin-top: 19px;
  min-width: 128px;
  height: 16px;
  font-size: 14px;
  color: blue;
}

.tweet {
  margin-left: 15px;
  margin-top: 7px;
  width: 445px;
  height: 88px;
  font-size: 14px;
  color: blue;
}
